<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Sign Up</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 side bg-color-yellow">
            <img class="image center-image" src="/images/SignUp.png" alt="">
            </div>
            <div class="col-md-6 ms-5 pb-5">
                <h4 class="poppins mt-4">
                    Selamat Datang
                </h4>
                <h1 class="poppins fw-bold">Segera Daftarkan Diri Anda</h1>
                <div class="button mt-3">
                    <a class="  poppins btn rounded-pill ps-4 pe-4 text-color-yellow shadow" href="/sign_up.html" role="button">Mitra</a>
                    <a class="text-white poppins btn ms-2 bg-color-yellow  rounded-pill ps-4 pe-4 shadow " href="#" role="button">User</a>
                </div>
                <form action="" method="post">
                
                      <div class="input-Name mt-4 ">
                        <label for="inputName" class="poppins form-label">Nama Lengkap</label>
                        <input type="Text" id="inputName" class="width-form-2 rounded1 form-control" >
                      </div>
                      <div class="input-Email mt-2">
                        <label for="inputEmail" class="poppins form-label">Email</label>
                        <input type="Text" id="inputEmail" class="width-form-2 rounded1 form-control" >
                      </div> 
                      <div class="input-Password mt-2">
                        <label for="inputPassword" class="poppins form-label">Password</label>
                        <input type="Text" id="inputPassword" class="width-form-2 rounded1 form-control" >
                      </div>
                    <a class="text-white poppins btn ms-2 bg-color-yellow mt-4  rounded-pill width-button-2 heigth-button shadow " href="#" role="button">Sign Up</a>

                    </div>
                    
                
              </form>
                </div>
                
            </div>
        </div>
    </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>