.text-color-yellow{
    color: #FFD93D !important;
}
.bg-color-yellow{
    background-color: #FFD93D !important;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap');
  .poppins{
    font-family: 'Poppins',sans-serif !important;
  }
  .nav-color{
    background-color: #FFFFFF !important;
  }
  .color-brown{
    background-color: #EFEFEF !important;
  }
  .mt-8{
    margin-top: 8% !important;
  }
  .mt-section{
    margin-top: 15% !important;
  }
  .mt-login{
    margin-top: 15% !important;
  }
  .mb-section{
    margin-bottom: 5% !important;
  }
  .text-space-h1{
    letter-spacing: 3px !important;
  }
  .text-space-p{
    letter-spacing: 1px !important;
  }
  .word-space-p{
    word-spacing: 2px;
  }
  .image{
    width: 100% !important;
  }
  .side{
    width: 100%;
    height: auto;
  }
  .hover{
    cursor: pointer;
  }
  .set-width{
    width: 410px !important;
  }
  .center{
    margin-left: 20% !important;
  }
  .center-image{
    margin-top: 15% !important;
  }
  .rounded1{
    border-radius: 15px !important;
  }
  .width-form{
    width: 60% !important;
  }
  .width-form-1{
    width: 80% !important;
  }
  .width-form-2{
    width: 60% !important;
  }
  .center-button{
    margin-left: 33% !important ;
  }
  .width-button{
    width: 70% !important;
  }
  .width-button-2{
    width: 60% !important;
  }
  .height-button{
    height: 10% !important;
  }
  .margin-end{
    margin-left: 18% !important;
  }
  .my-center{
    margin-top: 50% !important;
  }